@import "tailwindcss";

/* Hide default browser password reveal icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.leaflet-container {
  z-index: 1 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}

.leaflet-container {
  z-index: 1 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 1 !important;
}